# Build Settings
input: src
build: node build.js
output: dist

executable: SSCAndroid

# Package Metadata
version: 0.0.1
revision: 1

name: Socket SDK Android Example
description: A demo appliation

lang: en-us
copyright: Socket Supply Co. © 2021-2022
maintainer: Socket Supply Co.

bundle_identifier: co.socketsupply.android.example

# Window Settings
title: SSC Example

# Environment Settings
linux_forward_console_to_stdout: true

# Compiler Settings
flags: -O3
debug_flags: -g

android_sources: src/custom.kt
android_main_activity: .ExampleAndroidActivity

android_native_abis: x86_64 arm64-v8a
android_native_sources: src/custom.cc
android_manifest_permissions: MANAGE_EXTERNAL_STORAGE, BLUETOOTH, BLUETOOTH_ADMIN
