#
# Build Settings
#
input: public
# build: node ./build.js
output: dist
executable: ssc-hello
# win_icon: src/icons/icons.ico
# mac_icon: src/icons/icon.icns
# linux_icon: src/icons/icon.png

#
# Package Metadata
#
# A unique ID that identifies the bundle (used by all app stores).
bundle_identifier: com.beepboop
# A string that gets used in the about dialog and package meta info.
copyright: (c) Beep Boop Corp. 1985
# A short description of the app
description: A UI for the beep boop network
# A boolean that determines if stdout and stderr should get forwarded
# forward_console: true
# A directory is where your application's code is located.
# Localization
lang: en-us
name: ssc-test

#
# Code Signing
#
mac_sign: Voltra Co. BV (DYE7429KTV)
win_publisher: CN=Operator Tool Co, O=Operator, L=New York, S=New York, C=US
win_logo: icon.png


#
# Main Process
#
mac_cmd: node main.js
win_cmd: node main.js
linux_cmd: node main.js

#
# Advanced Compiler Settings, ie -O3, -g
#
flags: -O3
debug_flags: -g

# A String used in the about dialog and meta info.
maintainer: Beep Boop Corp.

#
# window
#
# The initial title of the window (can have spaces and symbols etc).
title: Beep Boop
# The initial height of the first window.
height: 900
# The initial width of the first window.
width: 1440
# A string that indicates the version of the cli tool and resources.
version: v0.0.1
# A string that indicates the version for MacOS.
version_short: 0.0.1
# TODO: maybe the user doesn't need to know about this?
# revision: 123

#
# Windows
# ---
#

#
# MacOS and iOS
# ---
#

# The team ID needed for MacOS and iOS distribution and development
# apple_team_id:

# Setting this to true will create a special build (that is absolutely
# not secure) but it will allow you to attach the apple instruments apps
# to the process while it is running on a device. You can learn more
# here - https://help.apple.com/instruments/mac/current/#/dev7b09c84f5
#
# apple_instruments: true

#
# MacOS
# ---
#

# Mac App Store icon
# mac_appstore_icon: src/icons/icon.png

# A category in the App Store
# mac_category:

# The command to execute to spawn the "back-end" process.
# mac_cmd:

# TODO description & value
# mac_distribution_method:

# TODO description & value
# mac_entitlements:

# The icon to use for identifying your app on MacOS.
# mac_icon:

# TODO description & value
# mac_provisioning_profile:

# TODO description & value
# mac_sign:

# TODO description & value
# mac_codesign_identity:

# TODO description & value
# mac_sign_paths:
