* {
  box-sizing: border-box;
}

::selection {
  color: white;
  background-color: var(--tonic-accent);
}

body {
  margin: 0;
  overflow: hidden;
  padding: 4%;
  color: var(--tonic-primary);
  font: 16px var(--tonic-body);
  background-color: var(--tonic-window);
  font-family: 'Inter';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

h3 {
  font-family: 'Inter Black';
  letter-spacing: 1px;
  color: var(--tonic-info);
  font-family: var(--tonic-header);
  text-align: center;
}

