build: scripts/build.sh
output: build

bundle_identifier: co.socketsupply.kotlin.example
bundle_identifier_short: kotlin-example
version: v1.0.0
version_short: 1.0.0

# A string that gets used in the about dialog and package meta info.
copyright: (c) Socket Supply, Co 2022

debug_flags: -g
flags: -O3

description: A Socket SDK example application that uses Kotlin/Native and Kotlin.js.

executable: main

height: 750
width: 1024

name: Kotlin-Example
title: Kotlin/Native & Kotlin.js Example

linux_cmd: main.kexe
