#
# Build Settings
#
input: public
output: dist
executable: ssc-hello

#
# window
#
# The initial title of the window (can have spaces and symbols etc).
title: Beep Boop
# The initial height of the first window.
height: 520
# The initial width of the first window.
width: 750
# A string that indicates the version of the cli tool and resources.
version: v0.0.0
# A string that indicates the version for MacOS.
version_short: 0.0.0
