#
# Build Settings
#
input: src
build: node build.js
output: dist
executable: ssc

# Desktop icons for the application
linux_icon: src/icons/icon.png
mac_icon: src/icons/icon.icns
win_icon: src/icons/icon.ico

#
# Package Metadata
#
version: 0.0.1
revision: 1
name: Socket SDK iOS example
description: A demo appliation
copyright: Socket Supply Co. © 2021-2022
mac_category: Developer
bundle_identifier: ssc.socketsupply.co
linux_categories: Developer
maintainer: Socket Supply Co.
lang: en-us

#
# Code Signing
#
mac_sign: iPhone Distribution: Operator Tools Inc. (Z3M838H537)
win_publisher: CN=Operator Tool Co, O=Operator, L=New York, S=New York, C=US
win_logo: icon.png

#
# iOS & MacOS
#

ios_distribution_method: ad-hoc
ios_codesign_identity: iPhone Distribution: Operator Tools Inc. (Z3M838H537)
ios_provisioning_profile: distribution.mobileprovision
ios_simulator_device: iPhone 13
mac_appstore_icon: src/icons/mas.jpg

#
# window
#
title: Socket SDK iOS example
dev_url: http://localhost:8081
env: HOME, APPDATA, XDG_CONFIG_HOME
linux_forward_console_to_stdout: true

#
# Advanced Compiler Settings, ie -O3, -g
#
flags: -O3
debug_flags: -g
