# Build Settings
input: src
build: node build.js
output: dist

executable: SSCAndroid

# Package Metadata
version: v0.0.1
version_short: 0.0.1
revision: 1

name: Socket SDK Android Example
description: A demo appliation

lang: en-us
copyright: Socket Supply Co. © 2021-2022
maintainer: Socket Supply Co.

bundle_identifier: co.socketsupply.android.example
bundle_identifier_Short: co.socketsupply.android.example

# Window Settings
title: Socket SDK Android Example

# Environment Settings
dev_url: http://localhost:8081
env: HOME, APPDATA, XDG_CONFIG_HOME
forward_console: true

# Compiler Settings
flags: -O3
debug_flags: -g
