
#   ___  ___  ___ ___  ___ ____ ___  ___    ___  ___  ___        ___       ___  ___
#  /  / /__/ /__ /__/ /__/  /  /  / /__/   /__  /__/ /__/ /\/\  /__ /   / /  / /__/ /_/
# /__/ /    /__ /  \ /  /  /  /__/ /  \   /    /  \ /  / /   / /__  \/\/ /__/ /  \ / \
#
# Default configuration file 65429a5. Delete what you don't need.
#

# This is made available for cross-compiling. It specifies the target
# architecture, by default it detects the machine on which the cli is
# executing.
# arch: x86_64

# Shell command to build an application.
build: node scripts/build.js

# A unique ID that identifies the bundle (used by all app store:edits).
bundle_identifier: op.socketsupply.co

# A unique ID that identifies the bundle (used by all app stores).
bundle_identifier_short: op.socketsupply.co

# A string that gets used in the about dialog and package meta info.
copyright: (c) Socket Supply Co. 2022

# Advanced Compiler Settings for debug purposes (ie C++ compiler -g, etc).
debug_flags: -g -O3

# A short description of the app
description: A Demo App

# An array of environment variables, separated by commas
# env: USER, TMPDIR, PWD

# The name of the product (ie Beep or Boop).
executable: op

# Advanced Compiler Settings (ie C++ compiler -02, -03, etc).
flags: -O1

# A boolean that determines if stdout and stderr should get forwarded
# forward_console: true

# The initial height of the first window.
# height: 750

# A directory is where your application's code is located.
# input: src

# Localization
# lang: en-us

# A String used in the about dialog and meta info.
# maintainer: Beep Boop Corp.

# The name of the program
name: Op

# The binary output path
output: build

# The initial title of the window (can have spaces and symbols etc).
title: Op

# A string that indicates the version of the cli tool and resources.
version v0.0.1

# A string that indicates the version for MacOS.
version_short 0.0.1

# The initial width of the first window.
# width: 1024

# TODO: maybe the user doesn't need to know about this?
# revision: 123

#
# Windows
#

# The command to execute to spawn the “back-end” process.
# win_cmd: beepboop.exe

# The icon to use for identifying your app on Windows.
# win_icon:

# The icon to use for identifying your app on Windows.
# win_logo: src/icons/icon.png

# A relative path to the pfx file used for signing.
# win_pfx: certs/cert.pfx

# TODO description & value
# win_publisher: CN=Beep Boop Corp., O=Beep Boop Corp., L=San Francisco, S=California, C=US

#
# Linux
#

# Helps to make your app searchable in Linux desktop environments.
# linux_categories: Developer Tools

# The command to execute to spawn the ‚Äúback-end‚Äù process.
# linux_cmd: beepboop

# The icon to use for identifying your app in Linux desktop environments.
# linux_icon: src\icon.png

#
# MacOS
#

# Mac App Store icon
# mac_appstore_icon: src/icons/icon.png

# A category in the App Store
# mac_category:

# The command to execute to spawn the ‚Äúback-end‚Äù process.
# mac_cmd:

# TODO description & value
# mac_distribution_method:

# TODO description & value
# mac_entitlements:

# The icon to use for identifying your app on MacOS.
# mac_icon:

# TODO description & value
# mac_provisioning_profile:

# TODO description & value
# mac_sign:

# TODO description & value
# mac_signing_certificate:

# TODO description & value
# mac_sign_paths:

# TODO description & value
# mac_team_id:

#
# iOS
#

# which device to target when building for the simulator
ios_device_simulator: platform=iOS Simulator,OS=15.0,name=iPhone 13 Pro

# A relative path to the plist of application entitlements
# ios_entitlements:

# TODO description & value
ios_distribution_method: ad-hoc

# The provisioning profile that is used for signing (should be mac?)
ios_provisioning_profile: ./distribution.mobileprovision

# TODO description & value
ios_signing_certificate: iPhone Distribution: Operator Tools Inc. (Z3M838H537)

# TODO description & value
ios_team_id: Z3M838H537
