body {
    background-color: pink;
}

button {
    padding: 0.5rem 1rem;
    background-color: white;
    border: none;
    outline: 2px solid black;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}
