#
# Build Settings
#
input: src
build: node ./scripts/build.js
output: dist
executable: ios-dns

#
# Package Metadata
#
version: 1.0.1
revision: 1
name: ios-dns
description: ios-dns test
copyright: Socket Supply Co. © 2021-2022
mac_category: Entertainment
bundle_identifier: ios-dns.socketsupply.co
maintainer: Socket Supply Co.
lang: en-us

#
# Code Signing
#
mac_sign: iPhone Distribution: Operator Tools Inc. (Z3M838H537)
win_publisher: CN=Operator Tool Co, O=Operator, L=New York, S=New York, C=US

#
# iOS & MacOS
#
entitlements: src/entitlements.plist

ios_distribution_method: ad-hoc
ios_codesign_identity: iPhone Distribution: Operator Tools Inc. (Z3M838H537)
ios_provisioning_profile: distribution.mobileprovision
ios_simulator_device: iPhone 13

#
# Window
#
title: ios-dns
env: HOME, APPDATA, XDG_CONFIG_HOME

#
# Advanced Compiler Settings, ie -O3, -g
#
flags: -O3
debug_flags: -g
